body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
    }

h1 {
	color: #fff;
	margin-top: 0;
	padding-top: 30px;
}

#cougar h2 {
	margin-top: 0;
	padding-top: 150px;
}

h2 {
	margin-top: 0;
	padding-top: 150px;
}

header {
	position: fixed;
	background: #333;
	margin-top: -30px;
	width: 100%;
	z-index: 10;
	float: left;
}

#cougar {
	background-color: #B26219;
}

#lion {
	background-color: #FFD5AE;
}

#tiger {
	background-color: #FFBD82;
}

article {
	width: 600px;
	padding: 20px 40px; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	margin: 50px auto;
	margin-bottom: 0;
	margin-top: 150px;
	float: right;
	width: 50%;
}

div {
	float: left;
	width: 50%;
	clear: both;
}

h2, section > p {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	color: #fff;
	padding: 0px 20px;
}

section {
	top: 150px;
	z-index: 8;
	clear: both;
	overflow: auto;
}


/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	float: left;
}

ul li a{
	display: block;
	width: 100px;
	text-align: center;
	text-decoration: none; 
	padding: 10px 10px;
	margin: 5px;
	color: white;
	background-color: #808080;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#nav {
	width: 100%;}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0 auto; 
	width: 19.5em;
}